
Flask>=3.1.0
flask-login>=0.6.3
flask-sqlalchemy>=3.1.1
gunicorn>=23.0.0
psycopg2-binary>=2.9.10
sqlalchemy>=2.0.40
werkzeug>=3.1.3
python-dotenv>=1.1.0
firebase-admin
numpy
onnxruntime
requests
scipy
sounddevice
soundfile
torch
whisper
flask-login
oauthlib
twilio
email-validator
flask-login
flask-sqlalchemy
oauthlib
python-dotenv
requests
werkzeug
email-validator
firebase-admin
flask
flask-login
flask-sqlalchemy
gunicorn
librosa
numpy
soundfile
werkzeug
